<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>4</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>5</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>6</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>7</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>101</integer>
		<key>minor</key>
		<integer>8</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>102</integer>
		<key>minor</key>
		<integer>1</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>102</integer>
		<key>minor</key>
		<integer>2</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
	<dict>
		<key>proximityUUID</key>
		<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
		<key>major</key>
		<integer>102</integer>
		<key>minor</key>
		<integer>3</integer>
		<key>notifyOnEntry</key>
		<true/>
		<key>notifyOnExit</key>
		<true/>
		<key>notifyEntryStateOnDisplay</key>
		<false/>
	</dict>
</array>
</plist>
